.navSet {
    display: flex;
    justify-content:space-between;
    padding :0.8rem 0;
    
  }
  
  .navImg {
    width: 30px;
    height: 30px;
  }

  .navHamBur:hover{
    background-color: rgb(237, 227, 227);
    cursor: pointer;
  }
  
  .navImg:hover{
    background-color: rgb(237, 227, 227);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navLogo {
    width: 110px;
    height: 25px;
  }
  
  .navSearch {
    margin-left: 50px;
    width:250%;
    border-radius: 30px;
    border:1px solid rgba(128, 128, 128, 0.55);
    padding:6px 13px;
  }
  .navSearchImg{
    width: 30px;
    height: 35px;
    border-radius:40px;
  }
  
  .navUl{
    display:flex;
    gap:1.8rem;
    padding: 0;
  }

  .navUlSearch{
    display:flex;
  }

  .navList {
    list-style: none;
  }

  /* Responsiveness */
@media screen and (max-width:1009px) {
  .navSearch{
    max-width:100%
  }
  .navSearch{
    margin-left: 0;
  }
}
  
  