.channelLogo{
    width:50px;
    height:50px;
    border-radius:30px;
}

.subscribeBtn{
    background-color: black;
    color: white;
    padding: 5px 18px;
    border-radius: 25px;
}

.shareBtn{
    background-color: rgba(150, 150, 150, 0.438);
    color:black;
    padding: 5px 18px;
    border-radius: 25px;
    border: 1px solid white;
}

.moreBtn{
    background-color: rgba(150, 150, 150, 0.438);
    color:black;
    padding: 5px 18px;
    border-radius: 50%;
    border: 1px solid white;
}

.commentStructure{
    display:flex;
    background-color: rgba(141, 140, 140, 0.098);
}

.reply{
    cursor: pointer;
}

.reply:hover{
    color: rgba(53, 52, 52, 0.824);
}

.chatMessage{
    display: flex;
    background-color: rgba(128, 128, 128, 0.063);
}

.liveChatButton{
    border-radius: 6px;
    background-color: rgba(42, 79, 134, 0.459);
    color:white;
}